# Файл CODEOWNERS определяет, кто должен одобрить изменения в определенных файлах

# Все файлы конфигурации требуют одобрения владельца
*.config.ts @code-universe-unit
*.config.js @code-universe-unit

# Стили требуют одобрения
*.css @code-universe-unit

# Workflows требуют одобрения
.github/workflows/* @code-universe-unit

# Критичные файлы документации
/docs/.vitepress/config.ts @code-universe-unit
/docs/.vitepress/theme/ @code-universe-unit
